@model IEnumerable<Project.Models.Post>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"><i class="fas fa-user"></i>&ensp;Post</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>