@model IEnumerable<Project.Models.Competition>

@{
    ViewData["Title"] = "Competition";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center"><i class="fas fa-user"></i>&ensp;Competition</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>